<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    <div class="nav-container">
        <ul>
            <li><a href="home">Aadhar Application</a></li>
            <li><a href="applyform">New Card Form</a></li>
            <li><a href="customercorrectionform">Correction Card Form</a></li>
            <li><a href="track">Track Status</a></li>
            <li style="float:right"><a href="login">Logout</a></li>
        </ul>
    </div>
</body>
</html>
