<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="adminnav.component.css">
</head>
<body>
       <div class="nav-container">
           <ul>
               <li><a href="adminhome">Aadhar Application</a></li>
               <li><a href="appdoc">Applied Documents</a></li>
               <li><a>Verification</a></li>
               <li><a href="corrdoc">Correction Documents</a></li>
               <li style="float:right"><a href="login">Logout</a></li>
           </ul>
       </div>
</body>
</html>
